@import '../index';

nav {
    width: 100vw;
    background-color: $barcolor;
    display: flex;
    height: $barheight;

    > * {
        margin: 0;
        padding: 0;
        display: flex;
        flex-grow: 0.1;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    p{
        background-color: gray;
    }
    ul {
        li {
            width: 10vw;
            list-style-type: none;
            margin: 0 1em;
        }
    }

}